<div id="modal">
  <div class="signin">
    <h3>Sign In</h3>
    <form action="/signin" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input id="button" type="submit" value="Sign In">
    </form>
  </div>
  <div class="signup">
    <h3>Sign Up</h3>
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input id="button" type="submit" value="Sign Up">
    </form>
  </div>
</div>

<div id='new_survey'>
  <form id="survey_form" action="/survey/new" method="post">
    <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
    <input type="text" name="title" placeholder="Title">

    <br><a href="" id="question_1"><h4>Question 1</h4></a>
    <div class='question'>
      <input type="text" name="question_1" placeholder="Survey Question"><br>
      <input type="text" name="answer_1" placeholder="Option">
    </div>
    <input type="submit" value="Submit">
  </form>
  <a href=""><button id="add_question" type="button">Add Question</button></a>
  <a href=""><button id="add_option" type="button">+</button></a>
</div>

<div id='homepage'>
  <div class='surveys'>
    <h2>Surveys</h2>
    <% if @surveys %>
    <ul id="all_surveys" class="imglist">
      <% @surveys.each do |survey| %>
      <li><a href=""><%=survey.title %></a></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class='user_surveys'>
    <h2>Your Surveys</h2>
    <% if @user_surveys %>
    <ul>
      <% @user_surveys.each do |survey| %>
      <li><a href=""><%=survey.title %></a></li>
      <% end %>
    </ul>
    <% else %>
    <h3>You need to make some surveys!</h3>
    <% end %>
    <button id="create_new_survey" type="button">New Survey</button>

  </div>
</div>
