
<div id="modal">
  <div class="signin">
    <h3>Sign In</h3>
    <form action="/signin" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign In">
    </form>
  </div>
  <div class="signup">
    <h3>Sign Up</h3>
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>

<div id='new_survey'>
  <form action="/survey/new" method="post">
    <input type="text" name="title" placeholder="Title">

    <br><a href="" id="question_1"><h4>Question 1</h4></a>
    <div class='question'>
      <input type="text" name="question_1" placeholder="Survey Question"><br>
      <input type="text" name="answer_1" placeholder="Option">
    </div>
    <input type="submit" value="Submit">
  </form>
  <a href=""><button id="add_question" type="button">Add Question</button></a>
  <a href=""><button id="add_option" type="button">+</button></a>
</div>

<div id='homepage'>
  <div class='surveys'>
    <% if @surveys %>
    <ul>
      <% @surveys.each do |survey| %>
      <li><%=survey.title %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <% if @user_surveys %>
  <div class='user_surveys'>
    <ul>
      <% @user_surveys.each do |survey| %>
      <li><%=survey.title %></li>
      <% end %>
    </ul>
    <% end %>
<!--     <form action="/survey/new" method="get">
      <input type="submit" value="Create new survey">  bad
    </form> -->
    <div id="create_new_survey"><a href="">New Survey</a></div>
  </div>
</div>
