#homepage {
  margin-top: 100px;
}

body {
  font-family: 'Josefin Slab', serif;
  color: #333;
}

#header {
  background-color: #00ADA9;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left:0px;
  border-bottom: 1px solid #C3FB48;
}

#button {
  background-image: linear-gradient(#FFFFFF,#D1CCD2);
  border: 1px solid #007E7A;
  color: #303C41;
  font-size: 14px;
  border-radius 3px;
  min-width: 60px;
  text-align: center;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  margin: 0px auto 0px auto;
}

button, input, optgroup, select, textarea {
  border-radius: 8px;
  border: 1px solid #b0b8bf;
}

#header h1 {
  color: #ffffff;
  float: left;
  font-size: 40px;
}

#new_survey {
  padding-top: 200px;
  position: absolute;
  top: 20%;
  left: 35%;
  display:none;
}

#new_survey form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#modal {
  border: #303C41 solid 1px;
  /*background-color: #fefefe;*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.901961), rgba(220, 236, 255, 0.701961));
  background: linear-gradient(rgba(255,255,255,0.9),rgba(220,236,255,0.7));
  width: 500px;
  height: 300px;
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 20px;
  visibility: visible;
  border-radius: 5px;
  color: #D1CCD2;
}

button, input, optgroup, select, textarea {
  border: 1px solid #C3FB48;
}

#modal h3 {
font-size: 30px;
text-align: center;
}

.signin {
  width: 49%;
  float: left;
  border-right: #eeeeee solid 1px;
  height: 100%;
}

.signup {
  width: 49%;
  float: right;
  height: 100%;
}

#modal input {
  margin: 15px;
  text-align: center;
}

.surveys {
  position: absolute;
  top: 20%;
  left: 35%;
  visibility: hidden;
}

.user_surveys {
  position:fixed;
  height: 100%;
  float: left;
  width: 20%;
  background-color: #D1CCD2;
  visibility: hidden;
  border-right: 1px solid #C3FB48;
}

.user_surveys form input {
  background-image: linear-gradient(#FFFFFF,#D1CCD2);
  text-align: center;
}

nav ul {
  list-style-type: none;
  float: right;
  width: 20%;
}
nav ul li {
  margin-right: 10px;
}

#create {
  visibility: hidden;
}

#all_surveys {
  border: 2px solid black;
}

nav form {
  width: 50%;
  float: right;
  visibility: hidden;
}

#name {
  float: right;
  font-size: 20px;
  color: #C3FB48;
}

