#header {
  background-color: #2D3E50;
  width: 100%;
  position: fixed;
  top: 0px;
  left:0px;
}
#header h1 {
  color: #1BBC9B;
}

#new_survey form {
  /*display: none;*/
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.signin {
  display: none;
}

.signup {
  display: none;
}

body {
  padding-top: 180px;
}

a {
  text-decoration: none;
  color: black;
}
